
@{
    ViewBag.Title = "Error400s";
}

<h2>Error400s</h2>

<img src="~/Content/Images/Error400.png" width="800" />
<h3>(Bad Request) You Are Trying to copy link of admin :) this will not work </h3>
<h2>Contact  Faculty of Computer And Information Technology  if you face any error </h2>
<br />
@*@Html.ActionLink("Back Home", "Index", "Home", null, new { @class = "btn btn-default" })*@