
@{
    ViewBag.Title = "Error404s";
}

<h2>Error404s</h2>

<img src="~/Content/Images/Error404.jpg" width="800" />
<h2>This Error Means you trying to access something that you not allowed to or it doesn't exist</h2>
<h3>Contact  Faculty of Computer And Information Technology  if you face any error </h3>
<br />
@*@Html.ActionLink("Back Home", "Index", "Home", null, new { @class = "btn btn-default" })*@