
@{
    ViewBag.Title = "GeneralError";
}

<h1>Ops Error ^^</h1>
<h2>YOu Did Something illegel or You May Exceed the request max size which is 100mb . If You think not Contact ><span>Mohamed Fathallah ,Mohamed Ayaad</span></h2>
<h2>Faculty of Computer & Information Technology</h2>




